<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.dao.OaRelationMapper">
    <resultMap id="BaseResultMap" type="com.example.user.model.OaRelation">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="sid" jdbcType="VARCHAR" property="sid"/>
    </resultMap>
    <delete id="deleteByUid">
      delete from oa_relation where uid=#{uid}
    </delete>
    <select id="selectListBySid" resultType="com.example.user.model.OaRelation">
      select * from oa_relation where sid=#{sid}
    </select>
    <select id="selectListByIds" resultType="com.example.user.model.OaRelation">


    </select>
</mapper>